apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .IngressName }}
  namespace: {{ .Namespace }}
  labels:
    app.kubernetes.io/name: {{ .Application }}
    app.kubernetes.io/part-of: safelane
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Application }}.{{ .Environment }}.svc.cluster.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .StableServiceName }}
                port:
                  name: http
